<%- include("header.ejs") %>
<%- include("navbar.ejs") %>
<div class="contact mt contentfit" >
<h1 class="heading " style=" text-align: center;"> Contact Us </h1>
<p class="f1rem">

    Welcome to the contact page of [Your Blog Name]! We're delighted to hear from you and encourage you to get in touch with us for any queries, suggestions, collaborations, or just to say hello. Your feedback is valuable to us.
    
    Ways to Reach Us
    
    Feel free to reach out to us through any of the following channels:
    
    Email:
    
    General Inquiries: [Your Email Address]
    Collaboration Requests: [Collaboration Email Address]
    Social Media:
    
    Twitter
    Facebook
    Instagram
    LinkedIn
    Contact Form:
    
    Fill out the contact form below, and we'll get back to you as soon as possible.
    Contact Form
    
    [Include a user-friendly contact form that collects information such as name, email address, subject, and message.]
    
    Before You Contact Us
    
    Before you reach out, we recommend checking out our frequently asked questions (FAQs) section as your question might already have an answer there. We also encourage you to explore our blog for valuable insights and information on various topics.
    
    Privacy Notice
    
    We take your privacy seriously and will only use your personal information to respond to your inquiries. For more information on how we handle your data, please review our Privacy Policy.
    
    Office Address
    
    [Your Company or Personal Name]
    [Street Address]
    [City, State, ZIP Code]
    [Country]</p>
</div>
    <%- include("footer.ejs") %>