    <!-- navbar -->
<header class=" header">
    <img src="/images/blog-logo.jpeg" alt="TechBlogs Logo">
 <div class="nav-bar">
    <ul class="nav-list">
       <li><a href="/" class="nav-link">HOME</a></li>
       <li><a href="/about" class="nav-link">ABOUT</a></li>
       <li><a href="/compose" class="nav-link">POST</a></li>
       <li><a href="/contact" class="nav-link">contact</a></li>
<button type="button"class="btn nav-link"  id="signupButton"> SIGNUP</button>
    </ul> 
</div>
<div class="mobile-navbar-btn">
<ion-icon name="menu" class="menu"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="30px" height="30px"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 L 0 7.5 z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 L 0 22.5 z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 L 0 37.5 z"/></svg> </ion-icon>
<ion-icon name="close" class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" fill="none" id="close"><path fill="#000" fill-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3.536-13.536a1 1 0 0 1 0 1.415L13.414 12l2.122 2.121a1 1 0 1 1-1.415 1.415L12 13.414l-2.121 2.122a1 1 0 1 1-1.415-1.415L10.586 12 8.464 9.879A1 1 0 1 1 9.88 8.464L12 10.586l2.121-2.122a1 1 0 0 1 1.415 0Z" clip-rule="evenodd"></path></svg></ion-icon>
</div>
</header>