<%- include("header.ejs") %>
<%- include("navbar.ejs") %>
<div class="signup mt">
    <form class="signup" >
        <h1 class="heading">Singup</h1>
        <input type="text" placeholder="Name" class="f1rem">
        <input type="text" placeholder="@Email" class="f1rem">
        <button class="btn" type="submit" >Signup</button>
    </form>
    </div>
    <%- include("footer.ejs") %>